#author-box {
background-color: #EEEEEE;
border: 1px solid #DDDDDD;
clear: both;
height: 100px;
margin: 15px 0.15% 15px 0.15%;
padding: 10px;
}

.author-bio {
font-family: arial,sans-serif;
font-size: 14px;
float: left;
width: 82%;
}

.author-mug {
float: left;
width: 100px;
}

