/*

This style sheet is designed by Matthew Guhit. If you would like
a web app like this, feel free to email him at matthewguhit@live.com
for a quote. His services includes SEO re-integration, data migration
from WordPress, and custom website development using technologies like
PHP, HTML5 and JavaScript.

*/

@import url(http://fonts.googleapis.com/css?family=Lato:400,300,100);

@import url(http://fonts.googleapis.com/css?family=Bevan);

a:hover {
    text-decoration: underline;
    color: #288bcb;
}

a img {
    border-width: 0;
}

body {
    background-color: #EAEAEA;
    font-family: arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}


li {
    margin: 0;
    padding: 0;
}

p {
    color: #000;
    line-height: 1.5em;
}

#container {
    border-left: 0 solid #000;
    border-right: 0 solid #000;
    background-attachment: scroll;
    margin-right: auto;
    margin-left: auto;
    background-repeat: repeat-x;
    background-position: left bottom;
    margin-top: 0;
}

#container .solidblockmenu li.email {
    background-attachment: scroll;
    background-repeat: no-repeat;
    font-size: 10px;
    font-weight: 400;
    height: 18px;
    float: right;
    margin-top: 12px;
    background-position: -1px -170px;
    background-image: url(../img/sprites_120310.png);
    padding: 0 20px;
}

#container .solidblockmenu li.facebook {
    background-attachment: scroll;
    background-repeat: no-repeat;
    font-size: 10px;
    font-weight: 400;
    height: 18px;
    float: right;
    margin-top: 12px;
    background-position: -1px -204px;
    background-image: url(../img/sprites_120310.png);
    padding: 0 20px;
}

#container .solidblockmenu li.twitter {
    background-attachment: scroll;
    background-repeat: no-repeat;
    font-size: 10px;
    font-weight: 400;
    height: 18px;
    float: right;
    margin-top: 12px;
    background-position: -1px -187px;
    background-image: url(../img/sprites_120310.png);
    padding: 0 20px;
}

#content {
    background-color: #FFF;
    clear: both;
    padding: 15px 0 0 15px;
}


#footer {
    background-color: #000;
    border-top: 4px solid #EE5025;
    margin-right: auto;
    margin-left: auto;
    color: #c6d6d9;
    clear: both;
    height: 275px;
    width: 100%;
}


#header {
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-position: left top;
    text-align: left;
    height: 90px;
}

#header a {
    text-decoration: none;
}

#livesearch {
  position: absolute;
  background-color: #fff;
  width: 241px;
}

/*********** CAROUSEL START *************************/

#carousel {
    border-bottom: 1px solid #ccc;
    padding: 15px 0 0 0;
    clear: both;
}

#bottom-picks {
    float: left;
    margin-right: 15px;
    width: 293px;
}

.bottom-links {
    float: left;
}

.bottom-links h2 {
    padding-bottom: 10px;
}

.left {
    float: left;
    height: 152px;
    padding-right: 10px;
    display: block;
    width: 20px;
    background-image: url(../img/middle4-left.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.left:hover {
    background-color: #EAEAEA;
    background-image: none;
}

.right {
    height: 152px;
    padding-right: 10px;
    display: block;
    width: 20px;
    float: left;
    background-image: url(../img/middle4-right.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.right:hover {
    background-color: #EAEAEA;
    background-image: none;
}


/*************** CAROUSEL END ********************/









#header h1 {
    font-size: 32px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: -2px;
    line-height: normal;
    text-transform: none;
    margin: 0;
    padding: 22px 20px 1px;
}




#top {
    text-align: right;
    font-size: 10px;
    line-height: 1em;
    padding-top: 4px;
    background-repeat: repeat-x;
    height: 20px;
    color: #000;
    background-position: left center;
    max-width: 965px;
    margin: 0 auto;
}

#wrapper {
    box-shadow: 0px 0px 15px -4px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    background-color: #fff;
    max-width: 970px;
}

.ad300x250 {
    width: 300px;
    background-attachment: scroll;
    background-color: #ededed;
    margin-bottom: 20px;
    text-align: center;
    font-size: .6em;
    height: 250px;
}

.addthistoolbar {
    border-top: 1px solid #ccc;
    float: left;
    height: 30px;
    margin-bottom: 20px;
    padding-bottom: 3px;
    padding-top: 3px;
    text-align: left;
    width: 100%;
}

.add-tools {
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ad-middle {
    width: 728px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.author-photo {
    float: left;
    overflow: hidden;
    width: 80px;
    margin-right: 5px;
}

.author-photo img {
    border: 1px solid #ccc;
}












/* Side bar START *************************************************/


.blk {
    border: 1px solid #ccc;
    background-attachment: scroll;
    margin-bottom: 10px;
    width: 298px;
    min-height: 300px;
    float: left;
}

.blk-header {
    border-top: 1px none #ccc;
    border-bottom: 1px solid #ccc;
    background-repeat: repeat-x;
    background-attachment: scroll;
    background-position: left bottom;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    color: #000;
    line-height: 22px;
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 5px 8px;
}

.blk li {
    border-top: 1px dotted #fff;
    border-bottom: 1px dotted #ccc;
    margin-right: 0;
    margin-left: 0;
    padding-right: 12px;
    padding-left: 12px;
    clear: both;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: normal;
    width: auto;
    margin-top: 5pt;
}

.blk ul {
    list-style-type: none;
    margin: -17pt 0 0;
    padding: 0 0 12px;
}

.blk ul a {
    color: #666;
}

.blk ul a:hover {
    display: block;
    color: #666;
}

/* Side bar END ***************************************************/















.blockquote {
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
    color: #333333;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    float: left;
    width: 200px;
    margin: 20px 20px 20px 0;
    padding: 10px 10px 10px 0;
}

.blockquote2 {
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
    color: #333333;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    float: right;
    width: 200px;
    margin: 20px 0 20px 20px;
    padding: 10px 0 10px 10px;
}

.headline {
    color: #000;
    font-weight: bold;
    line-height: 1.5em;
    margin: 17px 0 12px 0;
    padding: 0 0 2px 0;
    /* font-family: "nyt-stymie",verdana,sans-serif; */
    font-family: arial,helvetica,sans-serf; /* head */
    font-weight: 400;
    font-style: normal;
    line-height: 1.05em;
    font-size: 40px;
}

.byline {
	font-size: 10px;
	font-weight: normal;
}

.caption {
    line-height: 1.3em;
    text-align: left;
    font-weight: inherit;
    font-size: .8em;
	width: 300px;
}

dl dt {
    width: 1px;
}

dl dd {
    padding-left: 15px;
}

.category {
    color: #eb3507;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.category-term {
    text-transform: uppercase;
    color: #555;
    font-size: .7em;
    margin-top: 5px;
}

.clearfix {
    display: block;
}

.clearleft {
    clear: left;
}

.clearfix:after {
    content: ".";
    display: block;
    height: .1px;
    clear: both;
    font-size: 0;
    visibility: hidden;
}

.color {
    color: #ee5025;
}

.copyright {
    color: #999;
    font-size: 9px;
    padding-top: 20px;
}

.credit {
    color: #999;
    font-style: normal;
    text-transform: uppercase;
    font-size: .6em;
    text-align: right;
}

.dateline {
    line-height: .8em;
    clear: right;
    padding-bottom: 5px;
    font-style: normal;
    font-size: 11px;
    margin-top: -8px;
}

.deck {
    color: #000;
    font-family: arial,sans-serif;
    font-weight: 100;
    font-size: 16px;
    letter-spacing: -1px;
    line-height: 18px;
    margin-top: 7px;
}

.deck2 {
    color: #000;
    font-size: 12px;
    font-weight: inherit;
    margin-top: 10px;
    padding-bottom: 5px;
}

.front-content h1 {
    color: #000;
    /* font-family: "nyt-stymie",verdana,sans-serif; */
    font-family: arial,helvetica,sans-serf; /* head */
    font-weight: 400;
    font-style: normal;
    line-height: 1.05em;
    font-size: 32px;
}



.header {
    border-bottom: 1px solid #ccc;
    color: #f1503c;
    font-size: 1.6em;
    font-weight: 700;
}

.img {
    overflow: hidden;
    max-height: 236px;
}

.img2 {
    overflow: hidden;
    height: 75px;
    width: 150px;
}

.links {
    clear: both;
}



.logo {
    background-image: url(../img/maybe.png);
    background-repeat: no-repeat;
    display: block;
    font-weight: 700;
    line-height: normal;
    text-indent: -9999px;
    float: left;
    background-position: left top;
    height: 65px;
    width: 255px;
    color: #000;
    font-size: 50px;
    letter-spacing: -4px;
    margin: 0 0 -2px 15px;
}



.main {
    width: 690px;
    float: left;
}

.main-content {
    border: 1px solid #ccc;
    min-height: 250px;
    text-align: left;
    float: left;
    padding-right: 5px;
    padding-left: 10px;
    z-index: 1;
    background-color: #FFF;
    width: 370px;
    margin-top: 10px;
}

.main-content h1 {
    font-weight: 700;
    font-size: 16.5px;
    line-height: 16.5px;
}

.photobox {
    border: none;
    color: #444;
    float: right;
    line-height: 1em;
    margin-bottom: 12px;
    margin: 0 0 0 20px;
    text-align: center;
}

.photoEnlarge {
    background-image: url(../img/icon_enlarge.gif);
    background-repeat: no-repeat;
    background-position: 0 0;
    clear: left;
    display: block;
    float: left;
    font-size: 10px;
    height: 18px;
    text-align: left;
    padding-left: 20px;
}


.right-panel {
    min-height: 250px;
    text-align: left;
    float: left;
    width: 300px;
    padding: 0 0 0 15px;
}

.right-panel .links {
    visibility: hidden;
    height: 6px;
}

.right-panel #block-views-comments_recent-block h2 {
    border-top: medium none;
    background: #333 url(images/navbar.png) repeat-x scroll left bottom;
    color: #FFF;
    font-size: 22px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 26px;
    text-transform: none;
    padding: 5px 8px;
}

.right-panel #block-views-comments_recent-block ul {
    margin-left: 0;
    padding-left: 0;
    margin-top: -19px;
}

.right-panel #block-views-comments_recent-block li {
    border-top: 1px solid #d8d8dc;
    clear: both;
    font-size: 12px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: normal;
    width: auto;
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    list-style-image: url();
}

#search {
    clear: both;
    margin-bottom: 15px;
    width: 300px;
    height: 24px;
    font-family: verdana;
    font-size: 14px;
    color: #888;
}

#search-button {
    background-color: #000;
    border: 1px solid #000;
    color: #FFF;
    font-size: 12px;
    font-weight: 700;
    height: 29px;
    width: 80px;
    text-transform: uppercase;
}

.search {
    margin-top: 6px;
    margin-right: 7px;
    float: right;
    position: absolute;
    left: 830px;
}

.search-bar {
    float: right;
    padding-right: 250px;
    padding-top: 30px;
}

.search-button {
    background-color: #000;
    border: 1px solid #000;
    font-size: 12px;
    font-weight: 700;
    float: right;
    height: 30px;
    width: 200px;
    text-transform: uppercase;
}

.search-button a {
    background-position: -1px -399px;
    background-attachment: scroll;
    background-color: transparent;
    cursor: pointer;
    display: block;
    height: 30px;
    width: 83px;
    background-image: url(../img/sprites_120310.png);
}

#search input {
    border: 2px solid #d7d7d6;
    background: #eee none repeat scroll 0 50%;
    color: #666;
    float: left;
    font-size: 18px;
    font-weight: 700;
    height: 18px;
    width: 240px;
    position: absolute;
    padding: 4px 0 4px 4px;
}

.section_title {
    border-bottom: 1px dotted #ddd;
    float: left;
    text-align: left;
    width: 595px;
    font-size: 38px;
    font-weight: 700;
    color: #fb7729;
    text-transform: uppercase;
}



.solidblockmenu {
/*
    background: -webkit-linear-gradient(#111111, #333333);
 /* For Safari 5.1 to 6.0
    background: -o-linear-gradient(#111111, #333333);
 /* For Opera 11.1 to 12.0
    background: -moz-linear-gradient(#111111, #333333);
 /* For Firefox 3.6 to 15
    background: linear-gradient(#111111, #333333);
 /* Standard syntax (must be last) */
	background: #222222;
    border-bottom: 5px solid #ee5025;
    color: #fff;
    display: inline;
    float: left;
    font-size-adjust: none;
    font-stretch: normal;
    font-weight: 700;
    font-size: 11.4px;
    height: 40px;
    margin: 0 0 10px 15px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    width: 940px;
}

.solidblockmenu li {
    display: inline;
}

.solidblockmenu li a {
    border-left: 1px solid #333;
    border-right: 1px solid #111;
    float: left;
    text-decoration: none;
    background-position: left center;
    height: 30px;
    color: #fff;
    padding-bottom: 12px;
    min-width: 75px;
    padding-top: 12px;
}

.solidblockmenu .last li a {
    border-left: 1px solid #333;
}

.solidblockmenu li a:visited {
    color: #FFF;
}

.solidblockmenu li a:hover,.solidblockmenu li .current {
    float: left;
    text-decoration: none;
    height: 30px;
    font-size: 1em;
    padding-top: 12px;
    min-width: 75px;
    color: #555;
    /* background-image:url(images/up.gif); */
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 0;
}

.text-size {
    float: right;
    padding-top: 5px;
    padding-bottom: 5px;
}

.text-story {
    font-size: 14px;
    color: #000;
    line-height: 24px;
    margin-top: 0;
    padding-right: 5px;
    width: 595px;
}

.thumb-img {
    border: 1px solid #e1e1e1;
    float: left;
    position: absolute;
    margin-top: -70px;
    padding: 3px;
}

.topbannerad {
    height: 90px;
    width: 428px;
    float: left;
    margin: 0 0 0 272px;
    padding: 0;
}

.topimg {
    overflow: hidden;
    display: block;
}

.topstory {
    background-attachment: scroll;
    background-color: transparent;
    background-position: 325px -10px;
    background-repeat: no-repeat;
    padding: 5px;
}

.top-picks {
    margin-left: 18px;
    margin-right: 18px;
    width: 595px;
    float: left;
}



#bottom-picks h3 {
    background-color: #000000;
    font-size: 12px;
    font-weight: 700;
    height: 29px;
    margin-top: -40px;
    opacity: 0.7;
    width: 283px;
    filter: alpha(opacity=80);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    padding: 5px;
}

#bottom-picks h3 a {
    color: #FFF;
    display: block;
}

#middle4 {
    background-color: #FFF;
    clear: both;
    width: 945px;
    margin: 0 15px 0 15px;
    overflow: hidden;
}

#middle4a {
    float: left;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 870px;
}

#middle4b {
    width: 9650px;
}

a:link,a:visited,a:hover,a:active {
    text-decoration: none;
    color: #288bcb;
}

#container .solidblockmenu li.facebook a,#container .solidblockmenu li.email a,#container .solidblockmenu li.twitter a {
    background-position: -1px -187px;
    border: 0px;
    margin-top: -10px;
}

#footerbottom a,#header a:hover {
    color: #fff;
}

#home #nav-home a,#about #nav-about a,#news #nav-news a,#features #nav-features a,#opinion #nav-opinion a,#contact #nav-contact a,.solidblockmenu li .current {
    background-color: #ee5025;
    color: #ffffff;
    padding-bottom: 0;
    /* background-image:url(images/up.gif); */
    background-repeat: no-repeat;
    background-position: center bottom;
}

.column1 h2 a,.column2 h3 a,.fea .featured-content .column1 a {
    color: #000;
}

.front-content {
    float: left;
    margin-left: -15px;
    padding: 0 0 0 15px;
    width: 615px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

#table {
    padding: 15px;
}

#tr {
    float: left;
    padding: 20px;
}

.clear {
clear: both;
}

.w-100 {
width: 100px;
}

.w-150 {
width: 147px;
}


.w-200 {
width: 200px;
}

.w-250 {
width: 250px;
}

.w-350 {
width: 350px;
}

.padding-left {
padding: 0 0 0 15px;
}

.padding-right {
padding: 0 15px 0 0;
}

.padding-mini-left {
padding: 0 7px 0 0;
}

.padding-mini-right {
padding: 0 6px 0 0;
}

.padding-mini-bottom {
padding: 0 0 7px 0;
}

.padding-mini-top {
padding: 7px 0 0x 0;
}

.margin-mini-bottom {
margin: 0px 0px 7px 0px;
}


/* Footer Padding START *****************************************/

.padding-first {
    padding: 0 25px 0 0;
}

.padding-both {
    padding: 0 25px 0 25px;
}

.padding-last {
    padding: 0 0 0 25px;
}
















/* Footer Padding END *********************************************/

















/* QUARANTINE **************************************

#articleheader {
    border-top: 1px solid #fff;
    border-bottom: 3px solid #e2e2e2;
    background-attachment: scroll;
    margin-bottom: 14px;
    margin-right: 8px;
    background-repeat: repeat-x;
    background-position: center bottom;
    padding: 1.3em 1em 1.8em;
}

#bottom-wrapper {
    width: 975px;
    margin-right: auto;
    margin-left: auto;
    float: left;
    background-color: #fff;
}

#content-wrapper {
    float: left;
    margin-top: 0;
    padding: 0 15px 0 0;
    max-width: 615px;
}

#default-content {
    border-left-style: solid;
    border-left-color: #000;
    background-attachment: scroll;
}

#block-views-comments_recent-block {
    border: 1px solid #333;
    background: #fff none repeat scroll 0 50%;
    width: 307px;
    margin-bottom: 12px;
}

#enlarge-wrapper {
    width: 300px;
    margin-bottom: 18px;
}

#featured-box {
    height: 125px;
    width: 998px;
    border-style: solid;
    border-width: 1px;
}

#hed {
    border: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
}


#header-wrapper {
    width: 930px;
    margin: 0 auto;
}


#header img {
    margin-left: auto;
    margin-right: auto;
}

#header-inner {
    background-position: center center;
    margin-left: auto;
    margin-right: auto;
}



#header .description {
    color: #eee;
    font-size: 12px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: .2em;
    line-height: normal;
    max-width: 700px;
    text-transform: none;
    margin: 0;
    padding: 0 25px 7px;
}

#lp-left {
    float: left;
    width: 200px;
}

#lp-right {
    float: right;
    width: 400px;
    letter-spacing: -1px;
}

#lp-right p {
    margin-top: 40px;
}

#main-wrapper {
    float: left;
    margin-left: 20px;
    overflow: hidden;
    width: 700px;
}

#topbar {
    background-color: #333;
    height: 35px;
    margin: 0 0 20px 0;
    border-bottom: 2px solid #777;
}

#ad-middle {
    width: 975px;
    margin-right: auto;
    margin-left: auto;
    float: left;
    background-color: #f0f4f5;
    height: 120px;
}

.addthis_button {
    background: transparent url(//s7.addthis.com/static/r07/widget22hng) no-repeat scroll 0 50%;
    display: block;
    height: 16px;
    line-height: 16px!important;
    width: 16px;
}

.addthistoolbar2 {
    clear: both;
    border-top: 3px solid #000;
    border-bottom: 1px solid #ccc;
    text-align: left;
    height: 25px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 595px;
    margin-bottom: 10px;
}

#home {
    padding-bottom: 0;
    /* background-image:url(images/up.gif);
    background-repeat: no-repeat;
    background-position: center bottom;
}

#newswire {
    background: #eee none repeat scroll 0 50%;
    height: 15px;
    margin-right: auto;
    margin-left: auto;
    float: left;
    margin-top: -13px;
    text-align: left;
    width: 1000px;
    border-color: #000 #ebebeb #666;
    border-style: solid solid dotted;
    border-width: 0 0 1px;
}

#outer-wrapper {
    background: #fff none repeat scroll 0 50%;
    font-size: 100%;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    width: 930px;
    margin: 0 auto;
}

#related {
    border-top: 5px solid #000;
    width: 150px;
    min-height: 445px;
    float: right;
    background-color: #f3f3f3;
}

#sidebar-wrapper {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    overflow: hidden;
    width: 290px;
    padding: 0;
}

#video {
    float: left;
    width: 100%;
}

.littlepic {
    border: 2px solid #000;
    width: 76px;
    height: 52px;
    display: block;
    overflow: hidden;
    background-color: #000;
    float: left;
    margin: 0 6px 0 0;
}

.tabs_ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding-left: 5px;
}

.tab_top {
    background: transparent url(images/tab_bg_top_current.png) no-repeat scroll left center;
    height: 12px;
    position: relative;
    z-index: 2;
    margin-top: 5px;
}

.tab_body {
    background: transparent url(images/tab_bg_current.png) repeat-y scroll left center;
    height: 17px;
    position: relative;
    z-index: 2;
}

.tab_bottom {
    background: transparent url(images/tab_bg_bottom_current.png) no-repeat scroll left center;
    height: 12px;
    position: relative;
    z-index: 2;
}

.taxonomy {
    display: none;
}

.test {
    border-right-width: 1px;
    width: 150px;
    float: left;
}

.spacer {
    clear: both;
    float: right;
    margin-bottom: -3px;
}

.related-stories {
    border-bottom: 3px solid #000;
}

.related-stories-block h2 {
}

.related-stories-header {
    padding-bottom: 5px;
    background-repeat: repeat-x;
    background-attachment: scroll;
    background-position: left bottom;
    font-size-adjust: none;
    font-stretch: normal;
    font-variant: normal;
    line-height: 22px;
    font-weight: 700;
    padding-top: 5px;
    font-size: 22px;
    color: #000;
}

.related-stories-info {
    width: 208px;
    padding-bottom: 5px;
}

.related-stories li {
    clear: both;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: normal;
    width: auto;
    margin-top: 5pt;
    color: #ccc;
    list-style-type: none;
    font-size: 1em;
}

.related-stories-photo {
    float: left;
    padding-right: 12px;
}

.related-stories2 {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    min-height: 400px;
    margin-bottom: 25px;
}

.related-stories-block2 h2 {
    padding-bottom: 14px;
}

.related-stories-header2 {
    padding-top: 5px;
    padding-bottom: 5px;
    background-repeat: repeat-x;
    background-attachment: scroll;
    background-position: left bottom;
    font-size-adjust: none;
    font-stretch: normal;
    font-variant: normal;
    line-height: 22px;
    font-size: 22px;
    color: #f1513d;
    font-weight: 700;
}

.related-stories2 li {
    clear: both;
    font-size: 12px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: normal;
    width: auto;
    margin-top: 5pt;
    color: #ccc;
    list-style-type: none;
}

.related-stories-photo2 {
    padding-right: 12px;
    float: left;
    margin-bottom: 5px;
    margin-top: -8px;
}

.column1 {
    border-right: 1px none #ccc;
    float: left;
    padding-right: 15px;
    max-width: 360px;
}

.column1 h2 {
    word-spacing: -.05em;
    color: #000;
    line-height: 1em;
    font-weight: 700;
    padding-right: 5px;
    font-size: 2.4em;
    letter-spacing: -2px;
    margin-top: -2px;
}

.column2 {
    float: left;
    text-align: left;
    width: 240px;
}

.column2 h4 {
    margin-top: -16px;
}

.column2 h5 {
    color: #007ca5;
    text-transform: uppercase;
    font-size: 10.5px;
}

.column2 ul {
    list-style-type: none;
    margin: 0 0 0 -40px;
}

.column3 {
    float: left;
    width: 300px;
}

.column3 h3 {
    font-size: 22px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 26px;
    padding: 5px 8px;
}

.comment-link {
    margin-left: .6em;
}

.connect {
    margin-top: -10px;
    line-height: 1em;
    color: #414141;
    font-weight: 400;
    font-size: 12px;
}

.front-content2 h1 {
    color: #000;
    font-size-adjust: none;
    font-size: 28px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1.05em;
}

.featured-content .column2 ul li p {
    margin-bottom: 12px;
    padding-bottom: 12px;
}

.featured-content .column2 ul li img {
    display: block;
    background-color: #000;
    float: left;
    overflow: hidden;
    width: 170px;
    height: 120px;
    margin: 0 6px 0 0;
}

.featured-content .node .title {
    visibility: hidden;
}

.full-story-bar {
    background-color: #f1f1f1;
    font-size: .7em;
    height: 14px;
    padding-top: 3px;
    text-align: right;
    padding-right: 5px;
    margin-top: 20px;
}

.bottom-content {
    border-top: 1px solid #ccc;
    background-color: #f0f4f5;
    width: 640px;
    padding-left: 15px;
    float: left;
    text-align: left;
    margin-top: 15px;
    min-height: 100px;
}

.bottom-wrapper {
    border-top: 1px solid #ccc;
    width: 640px;
    padding-left: 15px;
    float: left;
    text-align: left;
    margin-top: 15px;
    min-height: 100px;
}

.breadcrumb {
    border-bottom: 1px dotted #ccc;
    width: 605px;
    font-size: 1em;
    border-color: #ccc;
    border-width: 1px;
    padding: 5px;
}

.related-stories-block p,.related-stories-block2 p {
    color: #000;
    margin-top: -12px;
}

.related-stories ul,.related-stories2 ul {
    list-style-type: none;
    margin: -10pt 0 0;
    padding: 0 0 12px;
}

.related-stories ul a,.related-stories ul a:visited,.related-stories2 ul a,.related-stories2 ul a:visited {
    color: #288bcb;
}

.related-stories ul a:hover,.related-stories2 ul a:hover {
    color: #288bcb;
}

.lp-author a {
    color: #f1513d;
    font-weight: 700;
}

.lp-date a {
    color: #288bcb;
    font-weight: 700;
}

.lp-photo {
    overflow: hidden;
    width: 195px;
    height: 146px;
}

.lp-separator {
    color: #ccc;
    padding-left: 7px;
    padding-right: 7px;
}

.lp-wrapper {
    border-top: 1px solid #ccc;
    clear: left;
    width: 615px;
    min-height: 150px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
}

.lp-wrapper h2 a {
    color: #000;
    letter-spacing: -1px;
}

#container .right,dl dt.byline-photo,.footerbottom-left,.lp-byline {
    float: left;
}

/*#container:after {content: "";position: absolute;width: 0;height: 0;right: 0px;top: 100%;margin-top: -1px;border-width: 0 0 20px 30px;border-style: solid;border-color: transparent transparent transparent #5a8e32;}

h2.section_title span {
    border-bottom: 1px dotted #ddd;
    float: left;
    position: relative;
    text-align: left;
    width: 956px;
    padding-top: 10px;
    text-transform: uppercase;
    margin: 0 0 0 10px;
}

h3 {
    font-size: 18px;
    letter-spacing: -1px;
}

.short-bio {
    margin-top: -10px;
    line-height: 1em;
    font-weight: 700;
    font-size: 12px;
    color: #686868;
}

.sidebar {
    width: 175px;
    float: right;
    color: #666;
    font-size: 12px;
    line-height: 1.5em;
}

.sidebar li {
    background: transparent url(http://4.bp.blogspot.com/_Zt-MFCckzsc/Ss4pD13oYzI/AAAAAAAACg0/a7dQufFXQsE/s1600/bulled.png) no-repeat scroll left center;
    line-height: 1.5em;
    margin: 0;
    padding: 0 0 .25em 9px;
}

.sidebar ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.article {
    float: left;
    width: 460px;
}

.aritcle-info {
    float: right;
    width: 520px;
}

div.view-nodequeue_2 {
    text-align: left;
    float: left;
    margin-left: 15px;
    display: inline;
    width: 668px;
}

.dotted-line {
    border-top: 1px dotted #ccc;
    height: 1px;
    margin: 15px 0;
}

.editors-picks {
    text-align: left;
    float: left;
    display: inline;
    margin-left: -47px;
    width: 663px;
}

#content-wrapper h3 {
    border-bottom: 1px solid #ccc;
    color: #000000;
    font-size: 1.5em;
    padding-top: 15px;
}

.ep-node {
    float: left;
    padding-left: 47px;
    width: 112px;
    margin: 0;
}

.featured-box-title {
    clear: both;
    float: left;
    height: 24px;
    width: 100%;
    text-align: left;
    font-size: 1.4em;
    margin-left: 15px;
}

.featured-box-content {
    width: 100%;
    margin-top: -18px;
    background-color: #f4f3f3;
    margin-left: 15px;
    height: 102px;
}

.featured-box-content img {
    height: 90px;
    float: left;
    width: 90px;
    padding: 5px;
}

.featured-box-bar {
    float: left;
    height: 130px;
    overflow: hidden;
    width: 206px;
}

.featured-box-bar p {
    margin-top: -15px;
}

.featured-box-title h2 {
    text-transform: uppercase;
    color: #666;
}

.footerbottom-right {
    float: right;
}

.featured-content {
    border-right: 1px none #ccc;
    border-bottom: 1px none #ccc;
    text-align: left;
    float: left;
    background-repeat: repeat-y;
    background-position: center top;
}

menu {
    color: red;
}

navigation {
    background-color: #333 /* darkgrey ;
}

#container2 {
    background-color: #222;
    height: 40px;
}

.picks {
    position: relative;
    margin: 32px 0;
}

.picks h3 {
    text-transform: uppercase;
    border-bottom-style: inset;
}

.picks ul {
    margin-bottom: 2px;
    background-repeat: no-repeat;
    display: block;
    font-weight: 700;
    height: 33px;
    line-height: normal;
    background-position: left top;
    width: 300px;
    margin-left: 5px;
}

.post {
    padding-bottom: 1.5em;
    margin: .5em 0 1.5em;
}

.recent-posts h3 {
    font-size: 1.5em;
    padding-top: 15px;
}

.imagetop {
    float: right;
    clear: right;
    margin: 0 0 1em 1em;
}

.jump-link {
    font-size: 11px;
    text-transform: uppercase;
}

.latestheadlines h3 {
    margin-bottom: 2px;
    background-repeat: no-repeat;
    display: block;
    font-weight: 700;
    height: 33px;
    line-height: normal;
    text-indent: -9999px;
    background-image: url(images/latest-headlines.png);
    background-position: left top;
    width: 300px;
    margin-left: 5px;
}

.latest-posts {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    float: left;
    background-color: #fff;
    width: 615px;
    min-height: 500px;
}


*********/
